body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    line-height: 20px;
   
 }
 header{
   background-color: dimgray;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-shadow: 2px 2px white, 2px 2px yellow;
   text-align: center;
 }
 
 
 nav { background-color:gold;
    margin: 1px;
    text-shadow: 1px 1px black;
     }
     nav ul {
        list-style-type:circle;
        margin: 0;
        padding: 0;
        display:flex;
    
     } 
     nav ul li{
        flex-grow: 1;
     }
     nav ul li a {
        color: black;
        text-decoration: none;
        padding: 10px 100px;
        display: block;
        text-align:justify;
    
     }
     nav ul li a:hover {
        background-color:beige ;
        box-shadow: 1px 1px black, 0 0 grey;
     }
     nav ul li a.activo{
        background-color:rgb(236, 142, 35);
        box-shadow: 1px 1px black, 0 0 gray;
     }
h4{
   font-family:cursive;
   text-align: center;
   padding: 0;
   width: auto;
 }
div.fondo {
   background-image:url(../img/fondoprinc.jpg) ;
   width: 100%;
   height: 100vh;
   background-size: cover;
   background-position: center ;
   box-shadow: 0 0 grey;}

main{
    padding-right: 300px;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

 header{ color: black;
    padding: 10px;
    margin-left: auto;
 }
 header h1{
    color: black;
    font-size: 30px;
    font-style:inherit;
    display: inline-table;
    position: relative;
    bottom: 10px;
    margin-left: 0px;
    background-color: rgb(255, 239, 13)
}
h1{
    text-align:left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-shadow: 1px 1px black, 0 0 white;
    background-color: rgb(226, 197, 30);
}
header h4{
    font-family: 'Dancing Script', cursive;
 }
.contacto{
    display: flex;
    gap: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #f8f8f8;
    text-shadow: 1px 1px rgb(19, 18, 18) ;
    font-size: 18px;
    margin-left: 100px;
}

.datos{
  
   padding-bottom: 10px;
   padding-left: 50px;
   padding-right: 30px;
   background-color:rgb(139, 139, 133); 
   border-radius: 20px;

}

.datos ul{
    font-size: 18px;
    text-align:left;
    box-shadow: none;
    

}
.formulario p{
    display: flex;
     
}
div.columna{
    margin-left: 8px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 80px ;
    background-color:rgb(139, 139, 133); 
    border-radius: 20px;
}
.formulario p label{
    min-width: 100px ;
}
.formulario p label{
    display: flex;
    align-items: start;
    
}
<!--align start se usa para las letras aca empieza que seria mensaje donde empieza en el cuadro

.formulario p:nth-child(4){
align-items:start;
}
.formulario textarea{
    resize: none;
    height: 150px;
    width: 310px;
}
.formulario input[type="submit"]{
    background:rgb(74, 74, 201);
    box-shadow: 0 0 10px rgb(223, 218, 217);
    color: rgb(240, 231, 231);
    text-shadow: 1px 1px white 2px 2px black;
    font-size: 15px;
    padding: 6px 20px;
    width: auto;
    position: relative;
    left: 5rem;
    cursor: pointer;
    border-radius: 30px;
}
<!--cursor es como sale la manito mouse


.formulario input[type="submit"]:hover{
    background-color: rgb(113, 61, 209);
}

.buttons {
    min-width: 700px;
    display: flex;
    justify-content:center;
}
  
.buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
  }
  
  .buttons a:hover {
    transform: scale(1.2);
  }
 
footer{
    background-color: beige;
    border-radius: 1px;
    border-color: grey;
    text-align: center;
}
